<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{partials.html :: head (title=${post.id} ? 'Edit a Post' : 'Create a Post')}">
</head>

<body>
	<nav th:replace="~{partials.html :: navbar}">
	</nav>
	<div class="container-fluid text-center mb-5 pb-5">
		<div class="row justify-content-center">
			<h1 class="m-3" th:if="${post.id}">Edit post #[[${post.id}]] if you want bud</h1>
			<h1 class="m-3" th:unless="${post.id}">Go ahead and post something bud</h1>
			<div class="col-4">
				<fieldset>
					<legend class="p-3">Post Details</legend>
					<form th:method="POST" th:action="${post.id} ? @{|/posts/${post.id}/edit|} : @{/posts/create}" th:object="${post}">
						<label class="form-label" for="title">Title</label>
						<input class="form-control" id="title" th:field="*{title}" type="text" placeholder="Title">
						<label class="form-label" for="body">Body</label>
						<textarea class="form-control form-text" id="body" th:field="*{body}" placeholder="Body"></textarea>
						<button class="btn btn-info m-2" type="submit">Submit</button>
					</form>
				</fieldset>
			</div>
		</div>
	</div>
	<footer th:replace="~{partials.html :: footer}">
	</footer>
</body>
</html>