<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{partials.html :: head (title='Profile')}">
</head>
<body>
	<nav th:replace="~{partials.html :: navbar}">
	</nav>
	<div class="container-fluid mb-5 pb-5">
		<div class="row justify-content-center">
			<h1 class="m-5 text-center">Here's that profile you wanted bud</h1>
			<div th:if="${param.error}">
				Passwords must match.
			</div>
			<div class="col d-flex justify-content-center">
				<form th:action="@{profile/edit}" th:method="post" th:object="${user}">
					<label for="username">Username</label>
					<input type="text" name="username" id="username" th:field="*{username}" placeholder="Enter your Username">
					<br>
					<label for="email">Email</label>
					<input type="email" name="email" id="email" th:field="*{email}" placeholder="Enter your Email">
					<br>
					<label for="password">Password</label>
					<input type="password" name="password" id="password" th:field="*{password}" placeholder="Enter your New Password">
					<br>
					<label for="confirmPassword">Confirm Password</label>
					<input type="password" name="confirmPassword" id="confirmPassword" th:field="*{confirmPassword}" placeholder="Confirm your New Password">
					<button class="btn btn-info m-2" type="submit">Edit Profile</button>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="~{partials.html :: footer}"></footer>
	</body>
</html>